
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Titulo Sys</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
</head>
<body>

    <div class="container-login">

        <h1 class="jumbotron login-title" align="center">
            Autentificacion
        </h1>

        @RenderBody()

    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdn.rawgit.com/Anexsoft/AnexGRID/master/jquery.anexgrid.min.js"></script>

    <script src="~/Scripts/ini.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>

</body>
</html>
